#video{
    object-fit: cover;
    z-index: -100;
}

.candy{
    position: fixed;
    // z-index: 1;
    top: 0px;

    img{
        width: 10vh;
        height: 10vh;
    }
}

#omnom1{
    position: fixed;
    bottom: 20px;
    // left: calc(50% - 30px);

    // img{

    // }
}